.menu {
	position: fixed;
	list-style: none;
	margin-left: 35%;
	width: 20%;
	height: 200px;
	opacity: 0.6;
	
	
}
.menu:hover .redondo {
	display: block;
	
}
.menu:hover body  {
	opacity: 0.5;
	
}
img{
	height: 100px;	

}
#casa{
	text-align: center;
}

.htd{
	margin-top: 20px;
	text-decoration: none;	
	display: inline-block;
	line-height: 80px;
	width: 80px;
	text-align: center;
	color: #5BF016;
}
.redondo{
	background-color: red;
	border-radius: 50%;
	height: 80px;
	width: 27%;	
	opacity: 1;
	float: left;
	display: none;
	float: center;
  

}
.redondo:hover{
	background-color: #F09D16;
}

#li2{
	margin-top: 10%;
}
#face{
	text-decoration: none;	
	display: inline-block;
}


#center{
	
	text-decoration: none;	
	display: inline-block;
	line-height: 500px;
	width: 100%;
	text-align: center;
	color: #efb810;
	margin-top: 250px;
}
.container{
	text-align: center;
}
.rojo{
	background: red;
	height: 200px;
	
}
.verde{
	background: green;
	height: 300px;
}
.azul{
	background: blue;
	height: 300px;
	margin-right: 2%;
}

footer{
	background: -webkit-gradient(linear, left top, left bottom, from(#296FF3), to (#efb810));
	background: -webkit-linear-gradient(top, #296FF3, #efb810);
	background: -moz-linear-gradient(top, #296FF3, #efb810);
	background: -ms-linear-gradient(top, #296FF3, #efb810);
	background: linear-gradient(top, #296FF3, #efb810);
	height: 200px;
	margin-top: 2%;
	
}
.fondo{
	background: url(../images/fondo.jpg );
	background-size: cover;
	height: 500px;
	padding: 0.7;

}
h5{
	color: blue;
}

.fondo1{
	background: url(../images/contactos.jpg );
	background-size: cover;
	
	padding: 0.7;
	border-radius: 50%;
}
.fondo2{
	
	height: 500px;	
	padding: 0.7;
	border-radius: 50%;
}
.fondo2 img{
	height: 400px;
	width:30%;
	border-radius: 50%;
	border-right: 2%;

}
.fondo3{
	background: url(../images/servicios2.jpg );
	background-size: cover;
	height: 500px;
	padding: 0.7;
	border-radius: 50%;
}
p{
	text-align: left;
}
.tabla{
	width: 30%;
}
.view{
	display: none;
	height: 200px;
 	border-top: 150px;
 	margin-left: 5%;
}
.rojo:hover .view{
	display: block; 
}
.login
{
	background-image: url(../images/dragon.jpg ); 
	border-radius: 50%;
	width: 50%;
	height: 200px;
	border-top: 20%;
	margin-left: 20%;
	margin-top: 20%;
}
.colorl{
	color: red;
}
.table1{
	margin-left: 25%;

}
.hielo{
	
	height: 650px;	
  background: -webkit-linear-gradient(#AFEEEE, #66CDAA, #B0C4DE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#AFEEEE, #66CDAA, #B0C4DE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#AFEEEE, #66CDAA, #B0C4DE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#AFEEEE, #66CDAA, #B0C4DE); /* Standard syntax */
}
.input{
	border-radius: 45%;
	border-color: blue;

}
.dragonrojo{
		background-image: url(../images/dragonrojo.jpg ); 
		background-size: 100% 100%;
		height: 300px;
		text-align: center;
		color: blue;


}
.fuego{
	 background: -webkit-linear-gradient(	#8B0000, 	#FFA500, #FF0000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(	#8B0000, 	#FFA500, #FF0000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(	#8B0000, 	#FFA500, #FF0000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(	#8B0000, 	#FFA500, #FF0000); /* Standard syntax */
}
label a{
	list-style: none;
	color: #fff;
}
.input2{
	margin-top: 5%;
	height: 25px;
	width: 100%;
	padding: 2% 2%;
	border:solid;
	border-color: blue;
	border-width: 10px;
	border-radius: 25%;
}
.ancho{
	height: 100px;
}
